@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Space+Mono:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  color: white;
  background-color: #191414;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
code {
  font-family: 'Space Mono', sans-serif
}
